--
-- PostgreSQL database dump
--

\restrict oGmNZIdhilV3Ya12KNDYKHYRd4UIPzoHzFFu4mraDnBfGLAZzenX7zIABWKsZAD

-- Dumped from database version 17.9
-- Dumped by pg_dump version 17.9

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: alembic_version; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.alembic_version (
    version_num character varying(32) NOT NULL
);


ALTER TABLE public.alembic_version OWNER TO postgres;

--
-- Name: barang; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.barang (
    id integer NOT NULL,
    nama_barang character varying(150) NOT NULL,
    kategori character varying(100),
    satuan character varying(50),
    is_active boolean,
    created_at timestamp without time zone DEFAULT now(),
    updated_at timestamp without time zone DEFAULT now(),
    stok_minimum integer,
    stok_kritis integer
);


ALTER TABLE public.barang OWNER TO postgres;

--
-- Name: barang_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.barang_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.barang_id_seq OWNER TO postgres;

--
-- Name: barang_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.barang_id_seq OWNED BY public.barang.id;


--
-- Name: cabang; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.cabang (
    id integer NOT NULL,
    nama_cabang character varying(150) NOT NULL,
    alamat text,
    is_active boolean,
    created_at timestamp without time zone DEFAULT now(),
    updated_at timestamp without time zone DEFAULT now(),
    kontak character varying(100)
);


ALTER TABLE public.cabang OWNER TO postgres;

--
-- Name: cabang_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.cabang_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.cabang_id_seq OWNER TO postgres;

--
-- Name: cabang_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.cabang_id_seq OWNED BY public.cabang.id;


--
-- Name: stock_cabang; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.stock_cabang (
    id integer NOT NULL,
    barang_id integer NOT NULL,
    cabang_id integer NOT NULL,
    stock integer NOT NULL,
    created_at timestamp without time zone DEFAULT now(),
    updated_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.stock_cabang OWNER TO postgres;

--
-- Name: stock_cabang_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.stock_cabang_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.stock_cabang_id_seq OWNER TO postgres;

--
-- Name: stock_cabang_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.stock_cabang_id_seq OWNED BY public.stock_cabang.id;


--
-- Name: supplier; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.supplier (
    id integer NOT NULL,
    nama_supplier character varying(150) NOT NULL,
    kontak character varying(100),
    alamat text,
    is_active boolean,
    created_at timestamp without time zone DEFAULT now(),
    updated_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.supplier OWNER TO postgres;

--
-- Name: supplier_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.supplier_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.supplier_id_seq OWNER TO postgres;

--
-- Name: supplier_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.supplier_id_seq OWNED BY public.supplier.id;


--
-- Name: transaksi; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.transaksi (
    id integer NOT NULL,
    barang_id integer NOT NULL,
    cabang_id integer NOT NULL,
    supplier_id integer,
    created_by integer NOT NULL,
    jenis character varying(20) NOT NULL,
    jumlah integer NOT NULL,
    keterangan text,
    tanggal timestamp without time zone DEFAULT now()
);


ALTER TABLE public.transaksi OWNER TO postgres;

--
-- Name: transaksi_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.transaksi_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.transaksi_id_seq OWNER TO postgres;

--
-- Name: transaksi_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.transaksi_id_seq OWNED BY public.transaksi.id;


--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    id integer NOT NULL,
    username character varying(100) NOT NULL,
    password character varying(255) NOT NULL,
    nama_lengkap character varying(150) NOT NULL,
    role character varying(50) NOT NULL,
    status_aktif boolean,
    cabang_id integer,
    created_at timestamp without time zone DEFAULT now(),
    nomor_whatsapp character varying(50),
    menerima_alert boolean,
    updated_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.users_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.users_id_seq OWNER TO postgres;

--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: whatsapp_alert_log; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.whatsapp_alert_log (
    id integer NOT NULL,
    nomor_tujuan character varying(50) NOT NULL,
    nama_tujuan character varying(150),
    kategori_alert character varying(100) NOT NULL,
    pesan text NOT NULL,
    status character varying(50),
    transaksi_id integer,
    cabang_id integer,
    barang_id integer,
    created_at timestamp without time zone DEFAULT now(),
    sent_at timestamp without time zone,
    response_api text
);


ALTER TABLE public.whatsapp_alert_log OWNER TO postgres;

--
-- Name: whatsapp_alert_log_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.whatsapp_alert_log_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.whatsapp_alert_log_id_seq OWNER TO postgres;

--
-- Name: whatsapp_alert_log_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.whatsapp_alert_log_id_seq OWNED BY public.whatsapp_alert_log.id;


--
-- Name: barang id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.barang ALTER COLUMN id SET DEFAULT nextval('public.barang_id_seq'::regclass);


--
-- Name: cabang id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cabang ALTER COLUMN id SET DEFAULT nextval('public.cabang_id_seq'::regclass);


--
-- Name: stock_cabang id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.stock_cabang ALTER COLUMN id SET DEFAULT nextval('public.stock_cabang_id_seq'::regclass);


--
-- Name: supplier id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.supplier ALTER COLUMN id SET DEFAULT nextval('public.supplier_id_seq'::regclass);


--
-- Name: transaksi id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.transaksi ALTER COLUMN id SET DEFAULT nextval('public.transaksi_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Name: whatsapp_alert_log id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.whatsapp_alert_log ALTER COLUMN id SET DEFAULT nextval('public.whatsapp_alert_log_id_seq'::regclass);


--
-- Data for Name: alembic_version; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.alembic_version (version_num) FROM stdin;
0e736e1e6969
\.


--
-- Data for Name: barang; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.barang (id, nama_barang, kategori, satuan, is_active, created_at, updated_at, stok_minimum, stok_kritis) FROM stdin;
1	Beras Tinta	Beras	kg	t	2026-05-12 23:40:06.172971	2026-05-12 23:40:06.172971	150	50
2	Kecap Manis Sedap	Kecap	botol	t	2026-05-12 23:41:06.476	2026-05-12 23:52:39.574426	4	2
3	Minyak Goreng Bimoli	Minyak Goreng	liter	t	2026-05-12 23:42:08.074556	2026-05-12 23:52:46.604096	4	2
\.


--
-- Data for Name: cabang; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.cabang (id, nama_cabang, alamat, is_active, created_at, updated_at, kontak) FROM stdin;
1	PUSAT	Kantor Pusat Gigamas	t	2026-05-12 22:30:37.059091	2026-05-12 22:30:37.059091	08123456789
2	Kotaanyar	Jl. Raya Kotaanyar	t	2026-05-12 23:36:47.889051	2026-05-12 23:36:47.889051	
3	Gending	Jl. Raya Gending	t	2026-05-12 23:37:25.569822	2026-05-12 23:37:25.569822	
\.


--
-- Data for Name: stock_cabang; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.stock_cabang (id, barang_id, cabang_id, stock, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: supplier; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.supplier (id, nama_supplier, kontak, alamat, is_active, created_at, updated_at) FROM stdin;
2	Rifqi	081230409256	Jabung	t	2026-05-12 23:38:55.733177	2026-05-12 23:50:44.813068
1	Wandy	082331226740	Cendana - Sumberanyar	t	2026-05-12 23:38:46.565422	2026-05-12 23:50:55.746745
\.


--
-- Data for Name: transaksi; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.transaksi (id, barang_id, cabang_id, supplier_id, created_by, jenis, jumlah, keterangan, tanggal) FROM stdin;
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: whatsapp_alert_log; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.whatsapp_alert_log (id, nomor_tujuan, nama_tujuan, kategori_alert, pesan, status, transaksi_id, cabang_id, barang_id, created_at, sent_at, response_api) FROM stdin;
\.


--
-- Name: barang_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.barang_id_seq', 3, true);


--
-- Name: cabang_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.cabang_id_seq', 3, true);


--
-- Name: stock_cabang_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.stock_cabang_id_seq', 4, true);


--
-- Name: supplier_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.supplier_id_seq', 2, true);


--
-- Name: transaksi_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.transaksi_id_seq', 100, true);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.users_id_seq', 11, true);


--
-- Name: whatsapp_alert_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.whatsapp_alert_log_id_seq', 206, true);


--
-- Name: alembic_version alembic_version_pkc; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.alembic_version
    ADD CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num);


--
-- Name: barang barang_nama_barang_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.barang
    ADD CONSTRAINT barang_nama_barang_key UNIQUE (nama_barang);


--
-- Name: barang barang_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.barang
    ADD CONSTRAINT barang_pkey PRIMARY KEY (id);


--
-- Name: cabang cabang_nama_cabang_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cabang
    ADD CONSTRAINT cabang_nama_cabang_key UNIQUE (nama_cabang);


--
-- Name: cabang cabang_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cabang
    ADD CONSTRAINT cabang_pkey PRIMARY KEY (id);


--
-- Name: stock_cabang stock_cabang_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.stock_cabang
    ADD CONSTRAINT stock_cabang_pkey PRIMARY KEY (id);


--
-- Name: supplier supplier_nama_supplier_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.supplier
    ADD CONSTRAINT supplier_nama_supplier_key UNIQUE (nama_supplier);


--
-- Name: supplier supplier_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.supplier
    ADD CONSTRAINT supplier_pkey PRIMARY KEY (id);


--
-- Name: transaksi transaksi_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.transaksi
    ADD CONSTRAINT transaksi_pkey PRIMARY KEY (id);


--
-- Name: stock_cabang uix_barang_cabang; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.stock_cabang
    ADD CONSTRAINT uix_barang_cabang UNIQUE (barang_id, cabang_id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: users users_username_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_username_key UNIQUE (username);


--
-- Name: whatsapp_alert_log whatsapp_alert_log_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.whatsapp_alert_log
    ADD CONSTRAINT whatsapp_alert_log_pkey PRIMARY KEY (id);


--
-- Name: stock_cabang stock_cabang_barang_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.stock_cabang
    ADD CONSTRAINT stock_cabang_barang_id_fkey FOREIGN KEY (barang_id) REFERENCES public.barang(id);


--
-- Name: stock_cabang stock_cabang_cabang_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.stock_cabang
    ADD CONSTRAINT stock_cabang_cabang_id_fkey FOREIGN KEY (cabang_id) REFERENCES public.cabang(id);


--
-- Name: transaksi transaksi_barang_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.transaksi
    ADD CONSTRAINT transaksi_barang_id_fkey FOREIGN KEY (barang_id) REFERENCES public.barang(id);


--
-- Name: transaksi transaksi_cabang_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.transaksi
    ADD CONSTRAINT transaksi_cabang_id_fkey FOREIGN KEY (cabang_id) REFERENCES public.cabang(id);


--
-- Name: transaksi transaksi_created_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.transaksi
    ADD CONSTRAINT transaksi_created_by_fkey FOREIGN KEY (created_by) REFERENCES public.users(id);


--
-- Name: transaksi transaksi_supplier_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.transaksi
    ADD CONSTRAINT transaksi_supplier_id_fkey FOREIGN KEY (supplier_id) REFERENCES public.supplier(id);


--
-- Name: users users_cabang_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_cabang_id_fkey FOREIGN KEY (cabang_id) REFERENCES public.cabang(id);


--
-- Name: whatsapp_alert_log whatsapp_alert_log_barang_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.whatsapp_alert_log
    ADD CONSTRAINT whatsapp_alert_log_barang_id_fkey FOREIGN KEY (barang_id) REFERENCES public.barang(id);


--
-- Name: whatsapp_alert_log whatsapp_alert_log_cabang_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.whatsapp_alert_log
    ADD CONSTRAINT whatsapp_alert_log_cabang_id_fkey FOREIGN KEY (cabang_id) REFERENCES public.cabang(id);


--
-- Name: whatsapp_alert_log whatsapp_alert_log_transaksi_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.whatsapp_alert_log
    ADD CONSTRAINT whatsapp_alert_log_transaksi_id_fkey FOREIGN KEY (transaksi_id) REFERENCES public.transaksi(id);


--
-- PostgreSQL database dump complete
--

\unrestrict oGmNZIdhilV3Ya12KNDYKHYRd4UIPzoHzFFu4mraDnBfGLAZzenX7zIABWKsZAD

